<!--This is the main hierarchy of my website -->
<div class="div_root">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Aldrich Wingsiong</a>
            </div>
            <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/projects" scroll-to="personalProjects">Personal Projects</a></li>
                    <li><a href="#/photography">Photography</a></li>
                    <li><a href="#/music">Music</a></li>
                    <li><a ng-href="#/resume/aldrich_resume.pdf">Resume</a></li>
                    <li><a>Contact Me</a></li>
                  </ul>
            </div>
        </div>
    </nav>
</div>