<section id="main">
    <div ng-include src="'components/navBar/navBar.html'"></div>
    <div ng-include src="'components/mainBanner/mainBanner.html'" class="div_mainBannerColor"></div>
    <div ng-include src="'components/social_media/social_media.html'"></div>
    <!--Work Experience -->
    <div ng-include src="'components/workExperience/workExperience.html'"></div>
    <!--Personal Projects -->
    <div ng-include src="'components/personalProjects/personalProjects.html'"></div>
    <!--FUTURE: Interactive map of where I've been. Neat little project to get into after my basic website is done -->
    <!--<div ng-include src="'components/contact/contact.html'"></div>-->
    <div ng-include src="'components/footer/footer.html'"></div>
</section>