<div class="div_social_media" ng-controller="socialMediaController">
    <ul class="nav nav-pills nav-justified custom-hover">
        <li class="li_social">
            <a ng-href="{{LINKEDIN_URL}}" target="_blank"><img class="social img_linkedinBadge" src="assets/png/linkedin21.png" height ="50"/></a>
        </li>
        <li class="li_social">
            <a ng-href="{{GITHUB_URL}}" target="_blank"><img class="social img_githubBadge" src="assets/png/github17.png" height="50"/></a>
        </li>
        <li class="li_social">
            <a href="mailto:{{EMAIL}}?subject=Hello"><img class="social img_emailBadge" src="assets/png/mail8.png" height="50"/></a>
        </li>
        <li class="li_social">
            <a ng-href="{{FACEBOOK_URL}}" target="_blank"><img class="social img_facebookBadge" src="assets/png/facebook7.png" height="50"/></a>
        </li>
    </ul>
</div>