<div class="div_projects">
    <h1 class="header_projects">Where I've Been Involved.</h1>
    <div class="badgeRow">
        <img class="img_tapintoBadge" title="TapInto" src="assets/img/tapinto_circle_logo.png" height="250"/>
        <a href="http://yourenext.ca/" target="_blank"><img class="img_yncnBadge" title="You're Next Career Network" src="assets/img/YNCN_circle_logo.png" height="250"/></a>
        <a href="http://nspire.org/" target="_blank"><img class="img_nspireBadge" title="Nspire Innovation Network" src="assets/img/nspire_circle_logo.png" height="250"/></a>
    </div>
</div>