<div class="div_workExperience">
    <h1 class="header_workExperience">Where I've Worked.</h1>
    <div class="badgeRow">

    <a href="http://www.amazon.com/" target="_blank"><img class="img_amazonBadge" title="Amazon.com" src="assets/img/amazonCircleBadge.png" height="250"/></a>
<!--
    <h3 class="header_amazonPos">SDE Intern</h3>
    <p class="par_desc"></p>
-->
    <a href="http://www.apple.com/" target="_blank"><img class="img_appleBadge" title="Apple Inc." src="assets/img/AppleCircleBadge.png" height="250"/></a>
<!--
    <h3 class="header_applePos">Software Engineering Intern</h3>
    <p class="par_desc"></p>
-->
    <a href="http://www.oanda.com/" target="_blank"><img class="img_oandaBadge" title="OANDA Corp." src="assets/img/OandaCircleBadge.png" height="250"/></a>
<!--                <h3 class="header_oandaPos">Software Development Intern</h3>-->

    </div>
</div>