<div id="workExperience" class="div_workExperience">
    <h1 class="header_workExperience">Where I've Worked.</h1>
    <div class="badgeRow">

    <a href="http://www.amazon.com/" ng-mouseOver="showAmznDetails()" target="_blank"><img class="img_amazonBadge default_badge" title="Amazon.com" src="assets/img/amazonCircleBadge.png"/></a>
<!--
    <h3 class="header_amazonPos">SDE Intern</h3>
    <p class="par_desc"></p>
-->
    <a href="http://www.apple.com/" target="_blank"><img class="img_appleBadge default_badge" title="Apple Inc." src="assets/img/AppleCircleBadge.png"/></a>
<!--
    <h3 class="header_applePos">Software Engineering Intern</h3>
    <p class="par_desc"></p>
-->
    <a href="http://www.oanda.com/" target="_blank"><img class="img_oandaBadge default_badge" title="OANDA Corp." src="assets/img/OandaCircleBadge.png"/></a>
<!--                <h3 class="header_oandaPos">Software Development Intern</h3>-->
    
    <div class="work_positions">
        <h4 class="header_pos">SDE Intern</h4>
        <h5 class="header_team">Kindle Digital Commerce</h5>
        
        <h4 class="header_post">Software Engineer</h4>
        <h5 class="header_team">Xcode Server</h5>
        
    </div>
</div>