/*Where I've worked section */
.header_workExperience{
    display:block;
    color: #858080;
    font-size: 40px;
}

.badgeRow{
    width: 900px;
    height: 600px;
    margin-left: auto;
    margin-right:auto;
    /*padding-bottom: 60px;*/
}
.div_amznContainer{
    width:300px;
    margin-right: 0px;
    display: inline;
 }
.header_amazonPos{
    width:300px;   
}
.par_desc{
    width:300px;   
}
.div_appleContainer{
    width:300px;   
}
div_oandaContainer{
    width:300px;   
}

.default_badge{
    margin-top: 170px;
    height=250px;
}
.img_amazonBadge{
    display:inline;
}
.img_appleBadge{
    margin-left:50px;
    margin-right:50px;
    
    display:inline;
}
.img_oandaBadge{
    
    display:inline;
}